#cloud-config

---
coreos:
  etcd2:
    advertise-client-urls: http://$private_ipv4:2379
    initial-advertise-peer-urls: http://$private_ipv4:2380
    listen-client-urls: http://0.0.0.0:2379
    listen-peer-urls: http://$private_ipv4:2380
    discovery: https://discovery.etcd.io/<dicovery_id>
  units:
  - name: etcd2.service
    command: start
  - name: fleet.service
    command: start
write_files:
- path: "/etc/environment"
  content: |-
    PRIVATEIP=$private_ipv4
    PUBLICIP=$public_ipv4
